tensorflow==1.14
aiml
lxml
beautifulsoup4
flask
requests
wikipedia
numpy
configparser
wordsegment
networkx
mysql-connector-python
nltk
stanfordcorenlp
future
pyaudio
pyttsx3
google-cloud-core
tqdm
scikit-learn
django
tflearn
h5py
scipy
colorama
language_check


# python -m nltk.downloader punkt
# python -m nltk.downloader stopwords
# tensorboard --logdir Data\Result\
# java -mx4g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer -port 9000 -timeout 15000
# SET PASSWORD FOR 'root'@'localhost' = PASSWORD('soho1234');